#profile {
    display: table;
    background-color:none;
    width: 100%;
}
#profile img {
    float: left;
    margin: 2em;
    margin-left: 5em;
    margin-right: 5em;
    width: 200px;
}
#profile #brief {
    float: left;
    margin-top: 1em;
    width: 35%;
}
#profile #brief #name {
    font-family: Arial;
    font-size: x-large;
    font-weight: bold;
}
#catalogue {
    float: left;
    /*border-top: 1px gray solid;*/   
}
#biography {
    line-height: 2em;
    margin-left: 2em;
}
#publications {
    margin-left: 2em;
}
#publications .paper {
    font-family: Arial;
    margin-bottom: 1em;
}
#publications .paper .content {
    /*border-top: 0.2em solid lightgreen;*/
    line-height: 1.5em;
}
#publications .paper .title {
    font-weight: bolder;
}
#publications .paper .info {
    margin-left: 1.5em;
}
#publications #first {
    margin-left: 1.5em;
}
#publications .paper .content a {
    margin-left: 1em;
}
a:link{
    color: grey;
} 



